# block visitors referred from semalt.com and others
# http://logorrhoea.net/2014/01/how-to-block-semalt-com-referrer-traffic-using-htaccess/
RewriteEngine on
RewriteCond %{HTTP_REFERER} semalt\.com [NC]
RewriteCond %{HTTP_REFERER} .*\.semalt\.com [NC]
RewriteCond %{HTTP_REFERER} free-social-buttons\.com [NC]
RewriteCond %{HTTP_REFERER} .*\.free-social-buttons\.com [NC]
RewriteCond %{HTTP_REFERER} event-tracking\.com [NC]
RewriteCond %{HTTP_REFERER} .*\.event-tracking\.com [NC]
RewriteCond %{HTTP_REFERER} free-social-buttons\.com [NC]
RewriteCond %{HTTP_REFERER} .*\.free-social-buttons\.com [NC]
RewriteCond %{HTTP_REFERER} guardlink\.org [NC]
RewriteCond %{HTTP_REFERER} .*\.guardlink\.org [NC]
RewriteCond %{HTTP_REFERER} best-seo-offer\.com [NC]
RewriteCond %{HTTP_REFERER} .*\.best-seo-offer\.com [NC]
RewriteCond %{HTTP_REFERER} buttons-for-your-website\.com [NC]
RewriteCond %{HTTP_REFERER} .*\.buttons-for-your-website\.com [NC]
RewriteRule .* - [F]

RewriteRule resume[\.\(\)\&\[\]](.*)$ resume [L]

ErrorDocument 404 /404.html

# Force HTTPS
# RewriteCond %{HTTPS} off
# RewriteCond %{HTTP_HOST} ^alexkadis.com$
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI}


RewriteCond %{HTTP:CF-Visitor} '"scheme":"http"'
RewriteCond %{HTTP_HOST} ^alexkadis.com$
RewriteRule ^(.*)$ https://alexkadis.com/$1 [L]

# RewriteCond %{HTTP:CF-Visitor} !'"scheme":"http"'
# RewriteRule ^(.*)$ https://alexkadis.com/$1 [L]
