---
layout: default
title: Alex's Blog
permalink: blog/
nav_title: Blog
---

<div class="home">

  <h1 class="page-heading">Alex&#8217;s Blog</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.content contains "<!--more-->" %}
          {{ post.content | split:"<!--more-->" | first }}
        {% else %}
          {{ post.content | strip_html | truncatewords:150 }}
          <p><a href="{{ post.url | prepend: site.baseurl }}" title="Read more&hellip;">Read more&hellip;</a></p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

    <!-- Pagination links -->
  <!-- <div class="pagination">
    <p>{% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous
      </a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}</p>
  </div> -->

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
